@{
    ViewBag.Title = "Contact";
}
<style type="text/css">
    body {
        background-color: rgba(0,0,0,0.6);
        margin: 0;
    }
</style>
<h2>@ViewBag.Title.</h2>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a class="text-dark" href="mailto:nshapkar@gmail.com.com">nshapkar@gmail.com</a><br />
    <strong>Marketing:</strong> <a class="text-dark" href="mailto:antonio_risteski@hotmail.com">antonio_risteski@hotmail.com</a>
</address>