@{
    ViewBag.Title = "Home";
}

@section head{
    <style type="text/css">
        body {
            background-image: url('https://www.thesonicsboom.com/wp-content/uploads/2019/11/new-restaurant-June-2.jpg');
            margin: 0;
        }
    </style>
    <link href="~/Style/HomeIndex.css" rel="stylesheet" />
}

<div id="divzanaslov" class="text-center">
    <div id="divpading">
        <div id="divopacity">
            <div id="divheaders">
                <h4> <b>Book good times!</b> </h4>
                <h1> <b>ENJOY TOGETHER  </b> </h1>
                <h1> <b>WITH FRIENDS    </b> </h1>
            </div>
        </div>
    </div>
</div>


