
@{
    ViewBag.Title = "Delete failed";
}

<h2>You cannot delete your restaurant because there are reservations for future event!</h2>
<h3>Wait until event is finished and than you can delete your restaurant</h3>

