
@{
    ViewBag.Title = "Delete failed";
}

<div style="text-align:center" class="mb-5">
    <img style="width:20%" src="https://koenig-media.raywenderlich.com/uploads/2018/11/monster_annoyed2-320x320.png">
    <div style="width:50%;" class="ml-auto mr-auto">
        <h4 style="color:gray">You cannot delete your table because there are active reservations for future event!</h4>
        <p style="color:gray">Wait until event is finished and than delete your table...</p>
    </div>
    <a href="/Tables/tablesForRestaurant/@ViewBag.R"><button class="btn btn-secondary mt-3">Back</button></a>
</div>

