@model IEnumerable<BookTable.Models.DatabaseModels.Table>

@{
    ViewBag.Title = "TablesForRestaurant";
}

<div class="ml-auto mr-auto" style="width:50%">
<h2>My Tables</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Seats)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td style="text-align:end">
                <a class="btn btn-secondary" href="/Tables/Edit/@item.TableId">Edit</a>
                <a class="btn btn-danger" href="/Tables/Delete/@item.TableId">Delete</a>
            </td>
        </tr>
    }

    
        

</table>
<div class="mb-5">
    <a href="/Restaurants/Details/@ViewBag.RestId"><button type="button" class="btn btn-secondary">Back</button></a>
    <a href="/Tables/createTableForRestaurant/@ViewBag.RestId"><button type="button" class="btn btn-success">New Table</button></a>
</div>
</div>




