@model BookTable.Models.ViewModels.TablesToBook

<h2>Tables to book</h2>

<h3>Restaurant: @Model.restaurant.Name</h3>

<div class="mt-5">
    @foreach (var item in Model.tables)
    {
        if (item.Avaliable)
        {
            using (Html.BeginForm("makeReservation", "Reservations", new { id = item.TableId }, FormMethod.Post, new { style = "display:inline-block" }))
            {
                @Html.HiddenFor(model => model.eventId)
                <button type="submit" class="btn btn-success border-0 rounded-circle " style="width: 100px; height: 100px;">@Html.DisplayFor(modelItem => item.Seats) seats</button>
            }
        }
        else
        {
            <button disabled class="btn btn-success border-0 rounded-circle" style="width: 100px; height: 100px">@Html.DisplayFor(modelItem => item.Seats) seats</button>
        }

    }
</div>

