
@{
    ViewBag.Title = "Confirmed";
}


<div style="text-align:center" class="mb-5">
    <img style="width:20%" src="https://images.vexels.com/media/users/3/157932/isolated/preview/951a617272553f49e75548e212ed947f-curved-check-mark-icon-by-vexels.png">
    <h3 style="color:gray">Your reservation is complete!</h3>
    <p style="color:gray">You can see your reservations by clicking the button below!</p>
    <a href="/Reservations/Index"><button class="btn btn-primary mt-3">Reservations</button></a>
</div>

